[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[user]
  name = Damien Pontifex
  email = damien.pontifex@gmail.com
[alias]
  graph-log = log --oneline --decorate --graph --all
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(green)<%an>%Creset' --abbrev-commit --all --decorate
  # master is normally the common parent, so squash back until common ancestor
  rb = "!f() { git rebase -i $(git merge-base HEAD master); }; f"
  clean-gone = "!f() { git fetch -p && for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}'); do git branch -D $branch; done }; f"
[push]
  default = current
[fetch]
  prune = true
[pull]
  rebase = true
[rebase]
  autostash = true

# Use NeoVim diff as diff tool
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[pager]
	branch = false
[credential]
	helper = osxkeychain
[submodule]
	recurse = true
	fetchJobs = 8
[http]
	cookiefile = /Users/ponti/.gitcookies
[init]
	defaultBranch = main
